<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awesome File Storage</title>
</head>
<body>
<div id="app">
    <form>
        <input @change="onChangeInputFile" id="file" type="file">
        <button @click="postFile" id="submit" type="button">Submit</button>
        <button @click="putFile" id="update" type="button">Update</button>
    </form>
    <table>
        <tr :key="filename.id" v-for="filename in filenames">
            <td><a :href="'/api/'+filename">{{ filename }}</a></td>
            <td>
                <button @click="deleteFile(filename)">Delete</button>
            </td>
        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: function () {
            return {
                file: undefined,
                filenames: []
            }
        },
        methods: {
            onChangeInputFile: function () {
                this.file = document.querySelector("#file").files[0];
            },
            postFile: function () {
                const formData = new FormData();
                formData.append("file", this.file);
                fetch("/api/", {
                    method: "POST",
                    body: formData
                })
                    .then(response => {
                        if (!response.ok) {
                            response.json().then(json => alert(json.message));
                        }
                        fetch("/api/").then(response => response.json()).then(json => this.filenames = json);
                    })
            },
            putFile: function () {
                const formData = new FormData();
                formData.append("file", this.file);
                fetch("/api/", {
                    method: "PUT",
                    body: formData
                })
                    .then(response => {
                        if (!response.ok) {
                            response.json().then(json => alert(json.message));
                        }
                        fetch("/api/").then(response => response.json()).then(json => this.filenames = json);
                    })
            },
            deleteFile: function (filename) {
                fetch("/api/" + filename, {
                    method: "DELETE"
                })
                    .then(response => {
                        if (!response.ok) {
                            response.json().then(json => alert(json.message));
                        }
                        fetch("/api/").then(response => response.json()).then(json => this.filenames = json);
                    });
            }
        },
        created: function () {
            fetch("/api/").then(response => response.json()).then(json => this.filenames = json);
        }
    })
</script>
</body>
</html>